.card{
    display: flex;
    flex-direction: row;
}

.button_cart{
    margin-left: 270px;
    margin-top: -60px;
}
.price{
    margin-top: -30px;
    white-space: nowrap;
    color:black;
}
.size{
    display: flex;
    flex-direction: row;
    margin-top:0;
    justify-content: center;
}
.size_item{
    font-size: small;
    margin-top: 10px;
    margin-right: 10px;
    padding: 4px 8px;
    background-color: white;
}
.size_item:focus{
    background-color:#0088ff;
}
.size_item:hover{
    background-color:rgb(211,211,211);
}