.card {
  display: flex;
  margin-bottom: 1rem;
}
.sneaker_info_container {
  display: flex;
  justify-content: space-between;
}
.sneaker_title_price {
  display: flex;
  flex-direction: column;
}
.size_buttons {
  display: flex;
  opacity: 0.1;
  justify-content: center;
  margin-top: -2rem;
}
.size_button {
  width: 2.5rem;
  margin-right: 0.4rem;
  background-color: white;
}
.size_button:focus {
  background-color: #0088ff;
  opacity: 1;
}
.size_buttons:hover {
  background-color: rgb(211, 211, 211);
  opacity: 1;
}
.price {
  margin-top: 0.5rem;
  color: #0088ff;
}
