.header {
  min-width: 100%;
}
.header_container {
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  min-width: 320px;
  padding: 1rem;
}
.logo_container {
  max-width: 25rem;
  height: 6rem;
}
.logo_container img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}
.filter_button {
  border: none;
  background-color: inherit;
  text-transform: uppercase;
}
.cart_button {
  margin-right: 0.8rem;
}
@media (1024px <= width) {
  .header_container {
    max-width: 1200px;
  }
}
