.header{
    grid-area: h;
    display: flex;
    align-items: center;
    justify-content:space-between;
    padding-top: 50px;
}
.logo{
    object-fit: cover;
    width: 100%;
    height: 100%;
    
}
.container{
    width: 200px;
    height: 200px;
    margin-left: 70px;
}

.button{
    margin-right: 5em;
    margin-top: 40px;
}
.women, .men{
    border: none;
    text-transform: uppercase;
    background-color: inherit;
    justify-content: center;
    font-size: medium;
    margin-right: 8em;
    margin-top: 3em;
}
.women:hover{
    transform: scale(1.2);
}
.men:hover{
    transform: scale(1.2);
}