.App{
  margin-top:0;
  padding: 0;
  margin: 0 auto;
  width: 100%;
  display: grid;
  grid-template-areas:
  "h h"
  "c c";
  grid-template-rows: 100px 1fr;
  grid-template-columns: 2fr 10fr;
  grid-gap: 5px;
}
