/* .App{
  margin-top:0;
  padding: 0;
  margin: 0 auto;
  width: 100%;
  display: grid;
  grid-template-areas:
  "h h"
  "c c";
  grid-template-rows: 100px 1fr;
 
  grid-gap: 5px;
} */
* {
  margin: 0;
  padding: 0;
}

.App {
  font-size: 18px;
  min-height: 100vh;
  min-width: 352px;
}

@media (768px <= width <= 1024px) {
  .App {
    font-size: 20px;
  }
}

@media (1024px <= width) {
  .App {
    font-size: 22px;
  }
}
