.products_list {
  min-width: 100%;
}
.products_list_container {
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  min-width: 320px;
  padding: 1rem;
}
.products_items {
  margin-top: 1rem;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  align-items: flex-start;
}
.title {
  display: flex;
  align-items: center;
  text-transform: uppercase;
  border: none;
  background-color: inherit;
  margin-left: 7rem;
}
.title::before,
.title::after {
  display: inline-block;
  content: "";
  border-top: 0.3rem solid black;
  width: 4rem;
  margin: 0 1rem;
}
.title:hover {
  transform: scale(1.1);
}
@media (width < 768px) {
  .products_list_container {
    flex-direction: column;
  }
  .products_items {
    justify-content: center;
  }
  .title {
    margin: 0;
  }
}
@media (1024px <= width) {
  .products_list_container {
    max-width: 1200px;
  }
}
